@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Mulish:wght@600&family=Outfit:wght@300;400;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --pink: hsla(335, 100%, 70%, 1);
  --blue: hsla(216, 100%, 70%, 1);
  --blue-card-btn: hsla(216, 100%, 96%, 1);
  --pink-card-btn: hsla(335, 100%, 95%, 1);
  --blue-card-btn-hover: hsla(216, 100%, 88%, 1);
  --pink-card-btn-hover: hsla(335, 100%, 88%, 1);
}
body {
  background-color: #e8e8f7;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

h1 {
  max-width: 274px;
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-size: 26px;
  margin-top: 1rem;
}

p {
  max-width: 284px;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin: 1rem 0;
}

.container {
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 416px;
  height: 449px;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-radius: 15px;
  text-align: center;
  border-color: transparent;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.pink {
  margin-right: 0.8rem;
}

.pink:hover {
  border-color: var(--pink);
}
.blue:hover {
  border-color: var(--blue);
}
.icon-wrapper {
  display: grid;
  place-items: center;
  border-radius: 50%;
  padding: 1rem;
}

.pink .icon-wrapper {
  background-color: var(--pink);
}

.blue .icon-wrapper {
  background-color: var(--blue);
}

.icon {
  width: 50px;
  height: 50px;
}

button {
  font-family: "Mulish", sans-serif;
  border: none;
  border-radius: 24px;
  width: 100px;
  height: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.blue button {
  color: var(--blue);
  background-color: var(--blue-card-btn);
}

.pink button {
  color: var(--pink);
  background-color: var(--pink-card-btn);
}

.blue button:hover {
  background-color: var(--blue-card-btn-hover);
}

.pink button:hover {
  background-color: var(--pink-card-btn-hover);
}
