@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins" sans-serif;
  background-color: #14143c;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.section {
  display: flex;
  background-color: #d5e8e4;
  padding: 4rem 3rem;
  border-radius: 5px;
}

.section__desc {
  display: flex;
}

.section__percent p {
  width: 250px;
}

.section__bottom-row {
  display: flex;
  width: 80%;
  justify-content: space-between;
}
ul {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  margin-bottom: 10px;
  text-transform: uppercase;
  word-spacing: 3px;
}

ul li.active {
  background-color: #99b1ca;
}
.section__box {
  background-color: #94c5ba;
  padding: 1.5rem;
}
.section__aside {
  width: 200px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 2rem;
  position: relative;
  margin: 0;
}

.section__aside p::before {
  content: "\2713";
  margin-right: 5px;
}

button {
  background-color: #e76771;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  padding: 0.8rem 1.3rem;
  width: 80%;
  position: absolute;
  bottom: 20px;
}

button:hover {
  background-color: #d83d4a;
}
