@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins" sans-serif;
  background-color:#94949C;
  display: grid;
  place-items:center;
  min-height: 100vh;
}

.card{
  display: flex;
  width: 600px;
  height: auto;
  background-color:#393940;
  padding: 10px;
}

.card__left img{
  width: 150px;
}

.card,.card img{
  border-radius: 10px;
}

.card__right{
  padding: 2rem 1.3rem;
}

.card__right p,.card__right h3{
  margin-bottom: 1rem;
}

.card__right p,.card__right h3,input{
  color: #fff;
}
.card__right input,button{
  border-radius: 5px;
  padding: .8rem;
  outline: none;
}

.card__right input{
  border:1px solid #94949C;
  color: #fff;
  background-color: transparent;
  width: 60%;
}

.card__right button{
  border: none;
  background-color: #93C814;
}
